fastapi
huggingface_hub

accelerate
numpy
requests
rwkv
safetensors
sentencepiece
tqdm
torch
datasets
triton
peft @ git+https://github.com/huggingface/peft.git@70af02a2bca5a63921790036b2c9430edf4037e2#egg=peft
transformers @ git+https://github.com/huggingface/transformers.git@de9255de27abfcae4a1f816b904915f0b1e23cd9#egg=transformers
alpaca_lora_4bit @ git+https://github.com/nealchandra/alpaca_lora_4bit@a248f9f90137455753618164046cd010e6939908#egg=alpaca_lora_4bit