fastapi
huggingface_hub

accelerate==0.20.3
einops==0.6.1
numpy
requests
rwkv
safetensors
sentencepiece
tqdm
torch
datasets
triton
bitsandbytes
scipy
peft @ git+https://github.com/huggingface/peft.git@86290e9660d24ef0d0cedcf57710da249dd1f2f4#egg=peft
transformers @ git+https://github.com/huggingface/transformers.git@66954ea25e342fd451c26ec1c295da0b8692086b#egg=transformers