accelerate==0.17.1
numpy
requests
rwkv==0.4.2
safetensors==0.3.0
sentencepiece
tqdm
torch
datasets
celery
redis
git+https://github.com/huggingface/peft.git@70af02a2bca5a63921790036b2c9430edf4037e2
git+https://github.com/huggingface/transformers.git
git+https://github.com/nealchandra/alpaca_lora_4bit@neal